header {
    display: flex;
    padding: 10px;
    align-self: center;
    align-items: center;
    flex-direction: row;
    background: rgba(220, 237, 247, .75);
    width: 755px;
    border-radius: 7px;
    font-family: 'Space Mono', monospace;
    font-style: italic;
    border: 5px solid #98daf2;
}

.logo {
    height: 100px;
    width: 150px;
}
