.image-card-box {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgba(220, 237, 247, .75);
    width: 50%;
    min-width: 755px;
    border-radius: 7px;
    font-family: 'Space Mono', monospace;
    border: 5px solid #98daf2;
}

.todays-image {
    margin-top: 10px;
    border-radius: 7px;
    width: 750px;
    height: 500px;
}

.img-deets {
    display: flex;
}